# AI_Vision_Lab - 01_YOLO_Core
# Recommended Python: 3.10

# 가상환경 준비
# cd D:\Dropbox\4_Tutorials\AI_Vision_Lab\01_YOLO_Core
# py -3.10 -m venv myenv
# .\myenv\Scripts\Activate.ps1
# python --version
# python -m pip install --upgrade pip

# 파이토치 별도 설치 필요
# Install CUDA-enabled PyTorch FIRST:
# python -m pip install torch==2.5.1 torchvision==0.20.1 torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cu121

# 아래 패키지 설치
# python -m pip install -r requirements.txt
# python -m pip check  # 확인

numpy==1.26.4
opencv-python==4.11.0.86
ultralytics==8.3.183
pandas==2.3.2
matplotlib==3.10.5
PyYAML==6.0.2
Flask==3.1.2
pyserial==3.5
